cvxpy==1.0.6
cycler==0.10.0
dill==0.2.8.2
ecos==2.0.5
fastcache==1.0.2
future==0.16.0
kiwisolver==1.0.1
matplotlib==2.2.2
multiprocess==0.70.6.1
numpy==1.14.5
osqp==0.4.0
pandas==0.23.3
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
scipy==1.1.0
scs==2.0.2
six==1.11.0
toolz==0.9.0
